body {
  font-family: Roboto, sans-serif;
  color: var(--SLATE, #434455);
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-web {
  color: var(--IRIS, #4d5ae5);
}
.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.nav-link:focus,
.nav-link:hover {
  color: #4d5ae5;
  text-decoration: underline;
}
.address-link {
  color: currentColor;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.address-link:focus,
.address-link:hover {
  color: #4d5ae5;
}
.section-order {
  background-color: var(--NAVY-BLUE, #2e2f42);
  height: 600px;
}
.section-order-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.section-order-button {
  /* display: inline-flex; */
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  /* align-items: flex-start; */
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.section-order-button:hover {
  background: #404bbf;
}
.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.section-title-little {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
footer {
  background: var(--NAVY-BLUE, #2e2f42);
  color: var(--CLOUD, #f4f4fd);
  height: 312px;
}
footer .logo {
  color: var(--CLOUD, #f4f4fd);
}
